@tailwind base;
@tailwind components;
@tailwind utilities;

.HTMLCS-issue-tile.HTMLCS-error strong {
    position: relative;
    top: -1000px;
}

.HTMLCS-issue-tile.HTMLCS-error strong::before {
    content: '0';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1000px;
}